@mixin mainflex{
    font-family: 'Prompt', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  min-height: 100vh;
}

@keyframes slide {
  0%{top:100%;}
  100%{top: 0;}
}

@keyframes opacityslide{
  0%{opacity: 1;}
  100%{opacity: 0;}
}