@mixin mainflex{
  font-family: 'Prompt', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  position: relative;
}
@mixin exit{
  &__exit{
    position: absolute;
    right: 0;
    top: 0;
    width: 2rem;
    height: 2rem;
    padding: 20px;

  &:hover{
    background-color: #b23121;
    opacity: 0.8;
    cursor: pointer;
  }

  &:before {
    position: absolute;
    left: 19px;
    top: 5px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #fff;

  }
  &:after {
    position: absolute;
    top: 5px;
    left: 19px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #fff;
  }
    &:before {
    transform: rotate(45deg);
  }
    &:after {
    transform: rotate(-45deg);
  }
}
}

@keyframes slide {
  0%{top:100%;}
  100%{top: 0;}
}

@keyframes opacityslide{
  0%{opacity: 1;}
  100%{opacity: 0;}
}

@keyframes zoom{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@keyframes bounce {
	0%, 20%, 60%, 100% {transform: translateY(0);}
  40%{
		transform: translateY(-20px);}
  80% {transform: translateY(-10px);}
}
