@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.start {
  background: url(../assets/img/Tymek.jpg);
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;

  &__logo {
    text-align: center;
    margin-top: 60px;
    text-shadow: 1px 1px #fff;
    font-size: 45px;
    font-family: 'Josefin Slab', serif;
  }

  &__button {
    border: 1px #ffffff solid;
    height: 50px;
    width: 80px;
    margin: 0 auto;
    background: black;
    opacity: 0.7;
    color: #fff;
    font-family: 'Josefin Slab', serif;
    border-radius: 2px;
    font-size: 24px;
    box-shadow: 1px 1px #fff;
    display: flex;
    justify-content: center;
  }

  &__holder {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

}







.navbar {
  min-height: 100vh;
  background: url(../assets/img/Tymeknav.jpg);
  background-size: cover;
  background-position: 50% 50%;
  z-index: 9999999;

  &__ul {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0 3em 0 3em;
    list-style-type: none;
    min-height: 100vh;
    
    justify-content: space-around;
    
    align-items: center;
    align-content: space-around;
    font-size: 28px;
    overflow: hidden;
  }

  &__li {
    margin: 0 40px;
  }
  
  &__a {
    text-decoration: none;
    color: #fff;
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
    text-shadow: 2px 2px #000;
    max-height: 200px;
  }
  
  &__a:hover {
    color: #fefefe;
    cursor: pointer;
  }

}



.mainbio {
  @include mainflex;
  &__img {
    width: 60%;
    margin-bottom: 20px;
  }
  &__bio {
    width: 80%;
  }
  &__img {
    border-radius: 50%;
  }
}

.mainexp {
  @include mainflex;
  &__img {
    width: 60%;
    margin-bottom: 20px;
  }
  &__exp {
    width: 80%;
  }
  &__img {
    border-radius: 50%;
  }
}










.contact {
  font-family: 'Prompt', sans-serif;
  min-height: 100vh;
 
  &__h {
    text-align: center;
  }

  &__ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
  }

  &__a {
    color: black;
    text-decoration: none;
    text-align: center;
  }

  &__li {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-bottom: 30px;
  }

  &__i {
    width: 100%;
    display: inline-block;
    font-size: 60px;
    text-align: center;
    margin-bottom: 5px;
  }
  
}











@media (min-width: 576px) {
  .mainbio {
      min-height: 100vh;
      
    &__bio {
      width: 70%;
    }

    &__img {
      width: 60%;
    }
  }
  .mainexp{
    &__img {
      width: 60%;
    }
  }
  
}

@media (min-width: 900px) {
  .start__logo{
    font-size: 80px;
  }
 
  .navbar{
  &__ul {
      flex-direction: row;
  }
}
 
 
 
  .contact {
      position: relative;
      
      &__h{
        font-size: 40px;
        width: 100%;
        padding-left: 4em;
        position: absolute;
        top: 4%;
        padding: 0;
        text-align: center
      }
      &__ul {
        flex-direction: row;
    }
    &__i {
        font-size: 80px;
    }
    &__li {
        font-size: 20px;
    }
  }
  
  
  

  

  .mainbio{
    display: grid;
    grid-template-areas: ". ."
                         "image head"
                         "image content"
                         ". .";
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 1fr 80px 280px 1fr;

    &__bio{
      grid-area: content; 
      max-height: 350px;
      width: 90%;
      margin: 0;
      overflow: hidden;
      display: flex;
      align-items: flex-start;
      line-height: 2;
    }

    &__h{
      grid-area: head;
      margin: 0;
      text-align: left;
      padding-left: 80px;
      font-size: 48px;
    }
  
    &__img{
      grid-area: image;
      display: inline-block;
      height: 100%;
      width: auto;
      margin: auto;
      max-height:360px;
    }
  }
    .mainexp{
      display: grid;
      grid-template-areas: ". ."
                           "head image"
                           "content image"
                           ". .";
      grid-template-columns: 1fr 0.8fr;
      grid-template-rows: 1fr 100px 260px 1fr;
  
      &__exp{
        grid-area: content; 
      max-height: 350px;
      width: 80%;
      margin: 0;
      overflow: hidden;
      text-align: right;
      text-justify: center;
      line-height: 2;
      min-height: 200px;
      margin-left: auto;
      margin-bottom: auto;
      }
  
      &__h{
        grid-area: head;
      margin: 0;
      text-align: right;
      padding-right: 80px;
      font-size: 48px;
      }
    
      &__img{
        grid-area: image;
      display: inline-block;
      height: 100%;
      width: auto;
      margin: auto;
      max-height:360px;
      }
  }

  

  
}

