@import "_normalize";
@import "_variables";
@import "_start";
@import "_main-content";
@import "_video";
@import "_contact";
@import "media-queries";

html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

//Zoom for photo on site

.zoom-photo{
  transition: transform .2s;
  animation: zoom .3s linear forwards;
  transform: translateY(50%);
}

.photo-zoom, .photo-zoom-second{
  position: fixed;
  top:0;
  display: none;
  opacity: 0;
  z-index: 6;
  width: 100%;
  height: 100vh;
  background-color: #000;
  @include exit;
  &__wraper{
    width:100%;
    height:100%;
    display: flex;
    position: relative;
  }
  &__image{
    justify-content: center;
    width:100%;
    padding: 10px;
    height: auto;
    object-fit: contain;
  }
}

.photo-zoom--visible{
  display: flex;
  animation: zoom .4s linear forwards;
}







